<html>
  <head>
    <title>Users and Interests</title>
  </head>
  <body>
    <h1>Users and Interests</h1>
    <%= yield %>
    <bottom>There are <%= @user_names.size %> users with a total of <%= count_interests %> interests.</bottom>
  </body>
</html>